/* Aqua SideBar */

@use '../../../../helpers/Color' as Color;

@mixin desktop {
  background-color: transparent;

  .page {
    background: transparent;
    
    .page-content {
      padding-top: 30px;

      .ultra-sidebar-content {
        overflow: hidden;
        h6 {
          color: rgb(142, 142, 147);
        }

        .list {
          margin-top: 0;
          margin-left:0;
          margin-right: 0;
          padding: 0;

          ul {
            background-color: transparent;

            li {
              .item-link {
                border-radius: var(--f7-list-inset-border-radius);

                .item-content {
                  font-size: 15px;

                  .f7-icons {
                    font-size: 22px;
                  }
                }

                &.tab-link-active {
                  & .item-content {
                    color: white;

                    @include Color.all(background);
                  }
                }

                &:not(.tab-link-active) {
                  & .item-content {
                    @include Color.all(color);

 
                  }
                }

                transition: none;
                transition-duration: 0ms;
                transition-property: none;
              }

              .item-link:not(.tab-link-active) {
                background: none;
              }
            }
          }
        }
      }

      .ultra-sidebar-footer {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: var(--f7-panel-width);
        max-width: 100%;

        .list {
          margin: 0;
          padding: 0;

          ul {
            background: transparent;
            .item-title {
              font-size: 17px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@mixin desktop-dark {
  .page {
    .page-content {
      .ultra-sidebar-content {
        .list {
          ul {
            li {
              .item-link {
                &:not(.tab-link-active) {
                  & .item-content {
                    .item-title {
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}