.ui-cells {
  margin: 0 !important;

  ul {
    background: transparent;
  }

  &.ui-cells-select {
    ul {
      & > * {
        margin-bottom: 5px;
      }
    }
  }
}

.view-master-details {
  .ui-cells {
    &.ui-cells-select {
      .active-state {
        transition-duration: 150ms !important;
        background-color: transparent !important;
      }
    }
  }
}
