@mixin universal {
  margin: 0 !important;

  ul {
    background: transparent;

    & > * {
      margin-bottom: 5px;
    }
  }
}

@mixin master {
  .active-state {
    transition-duration: 150ms !important;
    background-color: transparent !important;
  }
}
