# Marcus Handles most of the infrastructure stuff which is stored in root and in .github
* @MarcusDunn
# Marcus also is the chef backend man - which is stored in `mockingbird`
/mockingbird @MarcusDunn @Bvasilchikov
# Aydan is the frontend guy - this is currently only stored in `ultra`
/ultra @AydanGaite
/.vscode @AydanGaite
