@mixin universal {
  margin: 0;
  ul {
    background: rgb(242, 242, 247);

    textarea {
      height: 200px;
    }
  }
}

@mixin universal-dark {
  ul {
    background: rgb(40, 40, 40) !important;
  }
}