@mixin universal {
  margin: 25px 30px 0 40px;


  .ultra-profile-item {
    margin-right: 25px;
  }

  .ultra-profile-content {
    display: flex;
    align-items: center;

    &.ultra-profile-drawer-container {
      margin-top: 25px;
      padding: 0;
    }
  }

  .ultra-profile-navigation {
    .segmented {
      .f7-icons {
        margin-right: 5px;
      }
    }
  }

  .ultra-profile-tags-add {
    display: none;
  }

  .ultra-profile-tags:hover {
    .ultra-profile-tags-add {
      display: inline-flex;
      cursor: pointer;
    }
  }

  .ultra-profile-information {
    margin-top: 30px;
    max-width: 690px;
  }

  .ultra-profile-drawer {
    width: 100%;
    .ultra-profile-drawer-content {
      & > * {
        margin-bottom: 20px;
      }
    }
    .ultra-profile-drawer-toggle {
      width: 100%;
    }
  }
}
