@mixin universal {
  overflow: hidden;
  height: 100%;

  .ultra-footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .ultra-container {
    height: 100%;

    .ultra-survey-form {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;


      h2 {
        font-size: 36px;
      }
      
      h4 {
        margin-bottom: 8px;
        margin-top: 40px;
      }

      h5 {
        font-size: 16px;
        margin-bottom: 25px;
      }

      .swiper-container {
        overflow-y: scroll;
        width: 100%;
                    
        .swiper-wrapper {
          width: 100%;

          .swiper-slide-active {
            & > div {
              display: block;
            }
          }
        }
      }
    }
  }
  }