@mixin universal {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  &.fc-theme-standard .fc-scrollgrid {
    border: none;
  }

  &.ultra-calendar-grayscale {
    .fc-event:not(.event-not-grayscale) {
      filter: grayscale(100%);
    }
  }

  /*
  .wizard-event {
    animation: pop 0.2s ease-in infinite;
    animation-iteration-count: 1;
    animation-delay: 1s;
    z-index: 10000;
  }
  */

  @keyframes pop {
    50% {
      transform: scale(1.2);
    }
  }

  // Month view dot events
  .fc-daygrid-event {
    &.fc-daygrid-dot-event {
      color: rgb(175, 82, 222);

      .fc-daygrid-event-dot {
        background-color: rgb(175, 82, 222);
        border: 4px solid rgb(175, 82, 222);
      }
    }
  }

  // Week view event
  .fc-v-event {
    background-color: rgb(175, 82, 222);
    border: rgb(175, 82, 222) solid 2px;
    border-radius: 4px;

    &.fc-event-dragging {
      border: transparent solid 1px;
    }

    .fc-event-title {
      font-size: 13px;
      font-weight: 700;
    }
  }

  .fc-timeGridDay-view {
    .fc-col-header-cell {
      text-align: left !important;
    }
  }

  // Full size horizontal events
  .fc-h-event {
    background-color: rgb(175, 82, 222);
    border: rgb(175, 82, 222) solid 2px;
  }

  .fc-highlight {
    background: rgba(209, 209, 214, 0.4);
  }

  .fc-scrollgrid {
    border-collapse: initial;
    border: transparent solid 1px;

    .fc-scrollgrid-section-header {
      border: transparent solid 1px;

      &:after {
        border: transparent solid 1px;
      }

      th {
        border: transparent solid 1px;

        tr {
          .fc-timegrid-axis {
            border: transparent solid 1px;
          }

          .fc-day {
            &.fc-day-sun, &.fc-day-sat {
              .fc-col-header-cell-cushion {
                color: rgb(142, 142, 147);
              }
            }

            font-size: 20px;
            text-align: right;
            border: transparent solid 1px;

            .fc-col-header-cell-cushion {
              color: black;
              font-weight: 400;
              margin-right: 5px;
            }

            &.fc-day-today {
              .fc-col-header-cell-cushion {
                font-weight: 600;
                color: #9c27b0 !important;
              }
            }
          }
        }
      }
    }

    tbody {
      border: transparent solid 1px;

      tr {
        .fc-timegrid-divider.fc-cell-shaded {
          border: transparent solid 7px;
          background: transparent;
        }
      }

      .fc-scrollgrid-section-body {
        td {
          border: rgb(209, 209, 214) solid 1px;

          .fc-daygrid-day {
            .fc-daygrid-day-number {
              font-size: 20px;
              font-weight: 500;
              color: rgb(28, 28, 30);
              margin-top: 5px;
              margin-right: 5px;
            }
          }

          .fc-timegrid-slot:not(.fc-timegrid-slot-minor) {
            border-bottom: transparent solid 1px;
          }

          .fc-day-sun, &.fc-day-sat {
            background-color: rgba(242, 242, 247, 0.6);
          }

          &.fc-day-today {
            background-color: rgba(242, 242, 247, 0.6);

            .fc-daygrid-day-number {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              height: 36px;
              width: 36px;
              border-radius: 100%;
              background-color: #9c27b0;
            }
          }

          // Events

          // Month View
          .fc-daygrid-day-events {
            margin-top: 5px;

            .fc-h-event {
              border: transparent solid 1px;
              background-color: rgb(175, 82, 222);
            }
          }
        }
      }
    }
  }
}

@mixin universal-dark {
  .fc-highlight {
    background: rgba(99, 99, 102, 0.4);
  }

  .fc-scrollgrid {
    td {
      tr {
        .fc-day {
          &.fc-day-sun, &.fc-day-sat {
            .fc-col-header-cell-cushion {
              color: rgb(174, 174, 178);
            }
          }

          .fc-col-header-cell-cushion {
            color: white;
          }
        }
      }
    }

    tbody {
      .fc-scrollgrid-section-body {
        td {
          border: rgb(72, 72, 74) solid 1px;

          .fc-daygrid-day {
            .fc-daygrid-day-number {
              color: white;
            }
          }

          &.fc-day-today {
            background-color: rgba(44, 44, 46, 0.6);
          }

          &.fc-day-sun, &.fc-day-sat {
            background-color: rgba(44, 44, 46, 0.6);
          }
        }
      }
    }
  }
}
