@mixin universal {
  @media (max-width: 1000px) {
    .ultra-wizard-split-container {
      .ultra-wizard-split-detail {
        display: none !important;
      }

      .ultra-wizard-split-master {
        width: 100% !important;
        margin: 35px 20px !important;
      }
    }
  }

  .ultra-wizard-split-container {
    display: flex;
    height: 100%;

    .ultra-wizard-split-master {
      width: 600px;
      overflow: scroll;
      margin-top: 35px;
      margin-left: 25px;
    }

    .ultra-wizard-split-detail {
      width: 100%;
      flex: 1;
      & > * {
        width: 100%;
      }
    }
  }
}
