.view-iframe {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100%;

  .view-iframe-container {
    height: 95%;
    width: 100%;
    margin: 40px 25px;
    display: flex;
    flex-direction: column;

    & > .link {
      & > .f7-icons {
        color: var(--f7-color-gray);
        font-size: 60px;
      }
    }

    & > .swiper-container {
      height: 100%;
      width: 100%;

      border-radius: 8px;
      // box-shadow: var(--f7-elevation-12);
      border: 1px solid rgb(230, 232, 232);
    }
  }
}

.theme-dark {
  .view-iframe {
    .view-iframe-container {
      & > .swiper-container {
        border: 1px solid black;
      }
    }
  }
}