@use "../../../../style/helpers/Clamps";

.ui-select-button {
  width: 170px;
  border: 1px solid rgb(230, 232, 232);
  padding: 5px 10px;
  color: rgb(58, 58, 60) !important;
  border-radius: 8px;
  font-size: 16px;
  height: 38px !important;

  @include Clamps.set(1);

  transition: background-color 200ms !important;

  display: flex;
  vertical-align: middle;
  align-items: left;
  justify-content: left;

  margin: 0 2px 0 10px;

  &:hover {
    background-color: rgb(230, 232, 232);
  }

  &.ui-select-button-icons {
    width: 70px;
    .f7-icons {
      font-size: 24px;
      margin-bottom: 2px;
    }
  }

  .ui-select-button-icon {
    position: absolute;
    right: 0;
    padding-right: 5px;

    .f7-icons {
      font-size: 20px;
      color: rgb(87, 87, 87);
    }
  }

  .ui-select-button-selected {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
  }
}

.dark {
  .ui-select-button {
    border: 1px solid rgb(51, 51, 51);
    color: white !important;
  
    &:hover {
      background-color: rgba(44, 44, 46);
    }
  
    .ui-select-button-icon {
      .f7-icons {
        color: rgb(142, 142, 147);
      }
    }
  }
}
