.ui-cell {
  display: flex;

  .ui-cell-start {
    display: flex;
  }

  .ui-cell-end {
    display: flex;
    margin-left: 10px;
  }

  .ui-cell-item {
    width: 100%;
    .item-link, .item-checkbox {
      border-radius: var(--f7-list-inset-border-radius) !important;
    }
  
    .ui-cell-item-toggle {    
      margin-right: 0;
      transition-property: margin-right;
      transition-duration: 260ms;
  
      &.ui-cell-item-toggle-active {
        margin-right: 10px;
      }
    }

    &.ui-cell-item-selected {
      .item-link, .item-checkbox {
        background-color: rgb(220, 220, 220);
      }
    }
  }
}

.dark {
  .ui-cell {
    .ui-cell-item {
      &.ui-cell-item-selected {
        .item-link, .item-checkbox {
          background-color: rgba(44, 44, 46);
        }
      }
    }
  }
}