$transform: .35s;

.widget-stack {
    margin: 0;
    height: 100%;
  
    transition: transform $transform ease-in-out;

    .widget-stack-inner {
      .widget-stack-header{
        display: flex;

        h4 {
          text-transform: uppercase;
          font-weight: 600;
  
          .f7-icons {
            font-size: inherit;
            margin-top: -2px;
            margin-right: 5px;
          }
        }

      }
      .widget-stack-header-button{
        display: flex;
        width: 150px;
      }
      .widget-stack-header-buttons{
        gap: 10px;
      }
    }
  }