@media (max-width: 700px) {
  .intake-intake_footer {
    height: 120px;

    .intake-intake_footer-content {
      flex-direction: column;
      padding: 0 25px !important;

      .intake-intake_footer-progress {
        width: 100% !important;
        margin-top: 15px;
      }

      .intake-intake_footer-controls {
        margin-top: 25px;
        width: 100% !important;

        .row {
          width: 100% !important;
        }
      }
    }
  }
}

.intake-intake_footer {
  .intake-intake_footer-content {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0 30px;

    .intake-intake_footer-progress {
      display: flex;
      width: 400px;
      justify-content: center;
      flex-direction: column;
    }

    .intake-intake_footer-controls {
      .row {
        width: 290px;
      }
    }
  }
}