.pin-pin_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  .link {
    border-radius: 100% !important;
    background: var(--f7-color-orange);
    padding: 4px;
    width: 25px;
    height: 25px;

    .f7-icons {
      color: white;
      margin-top: 4px;
      font-size: 15px;
    }
  }
}