/*
  Global Theme (Desktop)
  Enabled on all desktop devices
*/

@use './Global/controller/GlobalDragBarUI' as DragBar;
@use './Global/controller/GlobalSideBarToggleUI' as SideBarToggle;
@use './Global/controller/GlobalIconButtonUI' as IconButton;
@use './Global/layout/GlobalCollapsableContentUI' as CollapsableContent;
@use './Global/layout/GlobalCollapsableContentPlaceholderUI' as CollapsableContentPlaceholder;
@use './Global/layout/GlobalPluginGridUI' as PluginGrid;
@use './Global/layout/GlobalPageUI' as Page;
@use './Global/surface/GlobalBoxedUI' as Boxed;
@use './Global/list/GlobalPinnableListUI' as PinnableList;

.device-desktop {
  /* -=-=-=-=-=-=-=- CUSTOM INTERFACE ELEMENTS -=-=-=-=-=-=-=- */
  /* DragBar */
  .ultra-dragbar {
    @include DragBar.desktop;
  }

  /* Collapsable Content */
  .ultra-collapsable-content {
    @include CollapsableContent.universal;
  }

  /* Collapsable Content Placeholder */
  .ultra-collapsable-content-placeholder {
    @include CollapsableContentPlaceholder.universal;
  }

  /* Icon Button */
  .ultra-icon-button {
    @include IconButton.universal;
  }

  /* Plugin Grid */
  .ultra-component-plugin-grid {
    @include PluginGrid.universal;
  }

  /* Page */
  .ultra-page {
    @include Page.universal;
  }

  /* Boxed */
  .ultra-boxed {
    @include Boxed.universal;
  }

  /* SideBar Toggle */
  .ultra-sidebar-toggle {
    @include SideBarToggle.universal;
  }

  &.wizard-open {
    .ultra-sidebar-toggle {
      display: none;
    }
  }

  /* Pinned List */
  .ultra-pinnable-list {
    @include PinnableList.universal;
  }

  /* -=-=-=-=-=-=-=- HELPER CLASSES -=-=-=-=-=-=-=- */
  /* Specifically to center in an f7 page */
  .ultra-middle-of-page {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-bottom: 180px;
    }
  }
}
