@use '../../../../style/helpers/Clamps.scss';

.ui-segmented_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  justify-content: center;

  .ui-segmented_text-text {
    margin: 0 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--f7-color-gray);
    flex-shrink: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
    
    &:not(.ui-segmented_text-text-selected) {
      @include Clamps.set(1);
      font-weight: 400;
      opacity: 0.6;
      flex-shrink: 1;
    }
  }
}