graphql:
  packages:
    - "com.leftindust.mockingbird.graphql"
    - "java.util.UUID"
    - "java.util.UUID"
spring:
  main:
    web-application-type: reactive
  jpa:
    show-sql: true
  liquibase:
    change-log: classpath:dbchangelog.xml
    enabled: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/mediq
    username: mediq
    password: mediq
icd:
  client:
    url: "localhost:80/icd"