.input-select {
  .item-title {
    color: var(--f7-list-item-after-text-color);

  }
  
  .item-after {
    color: black;
    margin-left: initial !important;
  }
}

.dark {
  .input-select {
    .item-after {
      color: white;
    }
  }
}