@mixin master {
  .item-link {
    border-radius: var(--f7-list-inset-border-radius);
  }

  &.ultra-selectable-item-selected {
    .item-link {
      background-color: rgb(220, 220, 220);
    }
  }
}

@mixin master-dark {
  &.ultra-selectable-item-selected {
    .item-link {
      background-color: rgba(44, 44, 46);
    }
  }
}
